import("rgdal") 
import("sp")
import("sf")
importFrom("raster", beginCluster, endCluster, clusterR, predict, extract, calc, nlayers, writeRaster, stack)
importFrom("gtools", rdirichlet)
importFrom("C50", C5.0 )
importFrom("sp", spsample, coordinates)
importFrom(magrittr,"%>%", "%<>%")
importFrom(foreach, "%dopar%")

export(disaggregate)
export(summarise)
export(dsmart)
export(order_stack_values)
export(sort_stack_values)
export(confusion_index)
export(shannon_entropy)